@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --font-family-Inria: "Inria Serif", serif;
    --main-color: #13233A;
    --second-color: #FFFFFF;
    --active-color: #3498db;
    --text-color: #3C3C3C;
    --logo-size: 35px;
    --font-size-small: 17px;
    --font-size-medium: 24px;
    --font-size-large: 32px;
    --font-size-xlarge: 64px;
    --font-size-hero: 96px;
    --padding-top-wrapper: 60px;
    --padding-bottom-wrapper: 60px;
}

html {
    scroll-behavior: smooth;
}

.section {
    padding-top: var(--padding-top-wrapper);
    padding-bottom: var(--padding-bottom-wrapper);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1rem;
}

.header {
    background: var(--main-color);
    border-bottom: 1px solid var(--second-color);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.header__logo img {
    height: var(--logo-size);
    width: var(--logo-size);
}

.header__navigate ul {
    display: flex;
    align-items: center;
}

.header__item {
    margin: 0 2rem;
}

.header__link {
    font-family: var(--font-family-Inria), sans-serif;
    font-weight: bold;
    font-size: var(--font-size-small);
    color: var(--second-color);
}

.header__link:hover {
    color: var(--active-color);
    cursor: pointer;
    transition: .3s all ease;
}

.burger__menu {
    display: none;
    align-items: center;
    height: 40px;
    width: 20px;
}

.burger__menu div {
    position: relative;
    height: 2px;
    width: 100%;
    background-color: var(--second-color);
}

.burger__menu div:after,
.burger__menu div:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--second-color);
}

.burger__menu div:after {
    transform: translateY(-5px);
}

.burger__menu div:before {
    transform: translateY(-5px);
}

.burger__navigate {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: var(--main-color);
    z-index: 3;
    transition: all ease 1s;
    border-left: 1px solid var(--second-color);
}

.burger__navigate ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.burger__link {
    color: var(--second-color);
    cursor: pointer;
}

.section {
    overflow: hidden;
}

.section__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.section__content h2 {
    font-family: var(--font-family-Inria), sans-serif;
    font-size: var(--font-size-large);
    color: var(--second-color);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
    animation: fadeDown 0.6s ease forwards;
}

.section__content p {
    text-align: center;
    margin-bottom: 2rem;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero {
    background-color: var(--main-color);
}

.logo {
    margin-bottom: 1rem;
}

.logo img {
    max-width: 4rem;
    max-height: 4rem;
}

.hero__title {
    font-size: var(--font-size-hero);
    color: var(--second-color);
    font-weight: 700;
    text-transform: uppercase;
    max-width: 25rem;
    text-align: center;
    margin-bottom: 2rem;
    line-height: 1.2;
    opacity: 0;
    transform: translateY(-50px) rotateX(45deg);
    animation: dropIn 1s ease-out forwards;
}

@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateY(-50px) rotateX(45deg);
    }
    100% {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
}

.hero__content span {
    font-size: var(--font-size-medium);
    color: var(--second-color);
    margin-bottom: 1.5rem;
}

.hero__description {
    font-weight: 400;
    font-size: var(--font-size-small);
    max-width: 573px;
    text-align: center;
    margin-bottom: 244px;
    text-transform: uppercase;
    color: var(--second-color);
}

.hero__btn img {
    max-width: 24px;
    max-height: 38px;
}

.about__wrapper h2 {
    font-size: var(--font-size-large);
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.about__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--main-color);
    padding: 80px 100px;
    border-radius: 30px;
}

.about__content h3 {
    font-family: var(--font-family-Inria), sans-serif;
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: var(--second-color);
    margin-bottom: 40px;
}

.about__content p {
    font-family: var(--font-family-Inria), sans-serif;
    font-size: var(--font-size-small);
    font-weight: 700;
    color: var(--second-color);
    margin-bottom: 50px;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-title.active + .accordion-arrow {
    transform: rotate(90deg);
}

.accordion-title.active {
    color: var(--active-color);
}

.accordion__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 780px;
    width: 100%;
    border-bottom: 1px solid var(--second-color);
}

.accordion-title {
    display: flex;
    justify-content: center;
    background-color: transparent;
    color: var(--second-color);
    padding: 1rem;
    font-size: var(--font-size-small);
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.accordion-arrow {
    width: 0.6rem;
    height: 0.6rem;
    border-right: 2px solid var(--second-color);
    border-bottom: 2px solid var(--second-color);
    transform-origin: center;
    transition: transform 0.3s ease;
    rotate: 45deg;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 1rem;
    color: var(--text-color);
    transition: max-height 0.4s ease;
}

.accordion-content p {
    font-family: var(--font-family-Inria), sans-serif;
    font-size: var(--font-size-small);
    margin: 1rem 0;
}

.title {
    display: flex;
    justify-content: center;
    top: -28px;
    background: var(--second-color);
    font-size: 56px;
    color: var(--text-color);
    font-weight: 700;
    text-transform: uppercase;
}

.slider__block {
    position: relative;
    background-color: var(--main-color);
    overflow: hidden;
    padding: 0 60px;
}

.swiper {
    width: 100%;
    max-width: 800px;
    height: 300px;
    margin: 0 auto;
}

.swiper-slide {
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--second-color) !important;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-prev {
    left: 2vw;
}

.swiper-button-next {
    right: 2vw;
}
.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

.slide-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}

.slide-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    min-height: 60px;
    padding: 0 20px;
}

.slide-header img {
    position: absolute;
    left: 0;
    height: 30px;
    width: 30px;
    flex-shrink: 0;
}

.slide-header h3 {
    font-family: var(--font-family-Inria), sans-serif;
    font-size: var(--font-size-small);
    font-weight: bold;
    text-align: center;
}

.slide__description {
    font-family: var(--font-family-Inria), sans-serif;
    font-size: var(--font-size-small);
    color: var(--text-color);
    font-weight: 400;
}

.input__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    border-bottom: 1px solid var(--text-color);
    min-width: 20rem;
    font-family: var(--font-family-Inria), sans-serif;
    font-size: var(--font-size-small);
    font-weight: 400;
}

.input__contact:focus::placeholder {
    color: transparent;
    transition: .3s all ease;
}

.form__content h2 {
    font-family: var(--font-family-Inria), sans-serif;
    font-size: var(--font-size-xlarge);
    color: var(--text-color);
    text-align: center;
    font-weight: bold;
    margin-bottom: 48px;
}

.form__contact  div {
    display: flex;
    gap: 32px;
    margin-bottom: 48px;
}

textarea {
    width: 100%;
    resize: none;
}

.form__contact textarea {
    margin-bottom: 48px;
}

.form__contact button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 15px 60px;
    background-color: var(--main-color);
    color: var(--second-color);
}

.footer {
    background-color: var(--main-color);
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__logo img {
    height: var(--logo-size);
    width: var(--logo-size);
}

.footer__logo span {
    font-family: var(--font-family-Inria), sans-serif;
    font-size: var(--font-size-small);
    color: var(--second-color);
    font-weight: 400;
}

.footer__information {
    display: flex;
}

.footer__list {
    display: flex;
    flex-direction: column;
    color: var(--second-color);
    margin: 0 20px;
    gap: 10px;
}

.footer__item,
.footer__item a {
    font-family: var(--font-family-Inria), sans-serif;
    font-size: var(--font-size-small);
    color: var(--second-color);
    font-weight: 400;
}

.footer__item:first-child {
    font-size: var(--font-size-medium);
    margin-bottom: 10px;
}

.active {
    display: flex;
}

.decor-section {
    background: #13233A;
    position: relative;
}

.decor-polygon-1 {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 1vw;
    left: -9vw;
    background-image: url("/assets/icons/Polygon 1.png");
    background-size: cover;
}

.decor-ellipse-1 {
    position: absolute;
    height: 350px;
    width: 350px;
    bottom: -5vw;
    left: -7vw;
    background-image: url("/assets/icons/Ellipse 1.png");
    background-size: cover;
}

.decor-ellipse-2 {
    position: absolute;
    height: 330px;
    width: 330px;
    top: 6vw;
    right: -11vw;
    background-image: url("/assets/icons/Ellipse 2.png");
    background-size: cover;
}

.decor-polygon-2 {
    position: absolute;
    height: 200px;
    width: 200px;
    bottom: -6vw;
    right: 5vw;
    background-image: url("/assets/icons/Polygon 2.png");
    background-size: cover;
}