@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.greeting {
  position: relative;
  min-height: 100vh;
  background: url("assets/main_bg.png") no-repeat;
  background-size: cover;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.header_nav {
  position: fixed;
  display: flex;
  right: -100%;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: right 0.8s ease;
}
.header_nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-width: 100%;
  background: #A6B1C3;
}
.header_nav ul li {
  padding: 25px 0;
}
.header_nav ul li a {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  color: white;
}

.header_active {
  right: 0;
  transition: right 0.6s ease;
}

.burger {
  display: none;
}
@media all and (max-width: 650px) {
  .burger {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
  }
}

.burger_wrap {
  display: flex;
  width: 35px;
  height: 30px;
  position: relative;
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
}
.burger_wrap span {
  width: 100%;
  height: 3px;
  background-color: white;
}
.burger_wrap span:after {
  content: "";
  position: absolute;
  transform: translateY(-7px);
  width: 100%;
  height: 3px;
  background-color: white;
}
.burger_wrap span:before {
  content: "";
  position: absolute;
  transform: translateY(7px);
  width: 100%;
  height: 3px;
  background-color: white;
}

.logo_main {
  margin-bottom: 73px;
}
@media all and (max-width: 450px) {
  .logo_main {
    margin: 50px 0;
  }
}
.logo_main img {
  max-width: 65px;
  max-height: 69px;
}
@media all and (max-width: 800px) {
  .logo_main img {
    max-width: 45px;
    max-height: 49px;
  }
}

.title_main {
  font-size: 54px;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 583px;
  text-align: center;
  margin-bottom: 53px;
  line-height: 1.2;
}
@media all and (max-width: 800px) {
  .title_main {
    font-size: 36px;
    padding: 0 10px;
  }
}
@media all and (max-width: 450px) {
  .title_main {
    font-size: 24px;
  }
}

.description {
  font-weight: 400;
  color: white;
  font-size: 15px;
  max-width: 573px;
  text-align: center;
  margin-bottom: 244px;
  line-height: 1.5;
  text-transform: uppercase;
}
@media all and (max-width: 850px) {
  .description {
    max-width: 373px;
    padding: 0 10px;
  }
}
@media all and (max-width: 450px) {
  .description {
    margin-bottom: 50px;
  }
}

.scroll img {
  max-width: 24px;
  max-height: 38px;
}

.title {
  display: flex;
  justify-content: center;
  position: relative;
  top: -28px;
  background: white;
  font-size: 56px;
  color: #3C3C3C;
  font-weight: 700;
  text-transform: uppercase;
}
.title:last-child {
  font-size: 30px;
  top: -2px;
}
@media all and (max-width: 650px) {
  .title {
    font-size: 36px;
    top: -18px;
  }
}
@media all and (max-width: 450px) {
  .title {
    font-size: 20px;
    top: -10px;
  }
}

.title_about, .title_question, .title_contact {
  position: absolute;
}

.title_services {
  position: absolute;
  color: white;
  background: transparent;
}

@media all and (max-width: 450px) {
  .title_contact {
    font-size: 20px !important;
  }
}

.container {
  width: 100%;
  max-width: 903px;
  margin: 0 auto;
  border-left: 2px solid #3C3C3C;
  border-bottom: 2px solid #3C3C3C;
  border-right: 2px solid #3C3C3C;
  display: flex;
  justify-content: center;
  position: relative;
}
.container:after {
  content: "";
  position: absolute;
  height: 2px;
  background: #3C3C3C;
  width: 250px;
  top: 0;
  left: 0;
}
@media all and (max-width: 930px) {
  .container:after {
    width: 150px;
  }
}
@media all and (max-width: 580px) {
  .container:after {
    width: 60px;
  }
}
.container:before {
  content: "";
  position: absolute;
  height: 2px;
  background: #3C3C3C;
  width: 250px;
  top: 0;
  right: 0;
}
@media all and (max-width: 930px) {
  .container:before {
    width: 150px;
  }
}
@media all and (max-width: 580px) {
  .container:before {
    width: 60px;
  }
}

.about {
  padding: 146px 0 159px 0;
}
@media all and (max-width: 800px) {
  .about {
    padding: 146px 15px 159px 15px;
  }
}
@media all and (max-width: 450px) {
  .about {
    padding: 50px 15px;
  }
}

.about_wrap {
  max-width: 556px;
  margin: 77px 0 53px 0;
}
@media all and (max-width: 650px) {
  .about_wrap {
    max-width: 350px;
  }
}
@media all and (max-width: 450px) {
  .about_wrap {
    max-width: 250px;
  }
}
.about_wrap span {
  display: flex;
  font-size: 16px;
  text-align: center;
  color: #3C3C3C;
  font-weight: 300;
  line-height: 1.5;
}
.about_wrap span:first-child {
  margin-bottom: 25px;
  line-height: 1.5;
}

.services {
  display: flex;
  justify-content: center;
  background: url("assets/services_bg.png") no-repeat;
  background-size: cover;
}
@media all and (max-width: 800px) {
  .services {
    padding: 0 15px;
  }
}
@media all and (max-width: 450px) {
  .services {
    padding: 50px 15px;
  }
}

.services_container {
  margin: 127px 0 109px 0;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: relative;
}
.services_container:after {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: 250px;
  top: 0;
  left: 0;
}
@media all and (max-width: 930px) {
  .services_container:after {
    width: 150px;
  }
}
@media all and (max-width: 580px) {
  .services_container:after {
    width: 60px;
  }
}
.services_container:before {
  content: "";
  position: absolute;
  height: 2px;
  background: white;
  width: 250px;
  top: 0;
  right: 0;
}
@media all and (max-width: 930px) {
  .services_container:before {
    width: 150px;
  }
}
@media all and (max-width: 580px) {
  .services_container:before {
    width: 60px;
  }
}
@media all and (max-width: 450px) {
  .services_container {
    margin: 0;
  }
}

.services_wrap {
  display: flex;
  margin: 78px 0 56px 0;
  max-width: 551px;
}
@media all and (max-width: 650px) {
  .services_wrap {
    max-width: 350px;
  }
}
@media all and (max-width: 450px) {
  .services_wrap {
    max-width: 250px;
  }
}
.services_wrap span {
  display: flex;
  font-size: 16px;
  text-align: center;
  color: white;
  font-weight: 300;
  line-height: 1.5;
}

.question {
  display: flex;
  justify-content: center;
}
@media all and (max-width: 800px) {
  .question {
    padding: 0 15px;
  }
}
@media all and (max-width: 450px) {
  .question {
    padding: 50px 15px;
  }
}

.question_container {
  margin: 105px 0 114px 0;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media all and (max-width: 450px) {
  .question_container {
    margin: 0;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 541px;
  margin: 50px 0 50px 0;
}
@media all and (max-width: 650px) {
  .card {
    max-width: 350px;
  }
}
@media all and (max-width: 450px) {
  .card {
    max-width: 250px;
    margin: 0;
    padding: 25px 0;
  }
}
.card img {
  width: 81px;
  height: 84px;
  margin-bottom: 46px;
}
.card span {
  font-size: 33px;
  color: #3C3C3C;
  text-transform: uppercase;
  margin: 0 0 40px 0;
  font-weight: 700;
  line-height: 1.5;
}
.card span:last-child {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}
@media all and (max-width: 650px) {
  .card span {
    font-size: 24px;
  }
}
@media all and (max-width: 450px) {
  .card span {
    font-size: 20px;
  }
}

.first_card {
  margin: 162px 0 50px 0;
}
@media all and (max-width: 450px) {
  .first_card {
    margin: 0;
  }
}

.container_img {
  display: flex;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
@media all and (max-width: 800px) {
  .container_img {
    flex-direction: column;
  }
}

.col_img {
  display: flex;
  flex-direction: column;
  flex: 0 0 33.333%;
  margin: 0 5px;
}
.col_img:first-child {
  flex: 1 1 33.333%;
  margin-right: 5px;
}
.col_img:last-child {
  flex: 1 1 33.333%;
  margin-left: 5px;
}

.item_img {
  position: relative;
  display: flex;
  height: 237px;
  max-width: 802px;
  width: 100%;
  margin: 5px 0;
  cursor: pointer;
}
.item_img:hover span {
  color: white;
}
.item_img span {
  position: absolute;
  bottom: 42px;
  left: 42px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  color: transparent;
  line-height: 1.5;
  transition: all 1s linear;
}
@media all and (max-width: 800px) {
  .item_img span {
    font-size: 26px;
  }
}

.topworkz {
  background: url("assets/top.png") no-repeat;
  background-size: cover;
}

.worktop {
  background: url("assets/wor.png") no-repeat;
  background-size: cover;
}

.joint {
  background: url("assets/joi.png") no-repeat;
  background-size: cover;
}

.lable {
  background: url("assets/lab.png") no-repeat;
  background-size: cover;
}

.market {
  background: url("assets/mar.png") no-repeat;
  background-size: cover;
}

.kyiv {
  background: url("assets/kiyv.png") no-repeat;
  background-size: cover;
}

.contact {
  display: flex;
  justify-content: center;
}
@media all and (max-width: 800px) {
  .contact {
    padding: 0 15px;
  }
}

@media all and (max-width: 450px) {
  .contact {
    padding: 50px 15px;
  }
}

.contact_container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 137px 0 77px 0;
}
@media all and (max-width: 450px) {
  .contact_container {
    margin: 0;
  }
}

.contact_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_wrap span {
  margin: 80px 0 41px 0;
  font-size: 16px;
  color: #3C3C3C;
  font-weight: 300;
  width: 530px;
  text-align: center;
  line-height: 1.5;
}
@media all and (max-width: 650px) {
  .contact_wrap span {
    max-width: 350px;
  }
}
@media all and (max-width: 450px) {
  .contact_wrap span {
    max-width: 250px;
  }
}
.contact_wrap a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 59px;
  width: 396px;
  background: #3C3C3C;
  margin-bottom: 50px;
}
.contact_wrap a span {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
}
@media all and (max-width: 650px) {
  .contact_wrap a {
    max-width: 200px;
  }
}

.footer_wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.logo_footer img {
  flex: 1 1 20%;
  width: 35px;
  height: 37px;
}

.link_wrap {
  margin-left: 36px;
}
.link_wrap a {
  flex: 1 1 80%;
  font-size: 14px;
  color: #3C3C3C;
  font-weight: 300;
  line-height: 1.5;
}
@media all and (max-width: 450px) {
  .link_wrap a {
    font-size: 11px;
  }
}

/*# sourceMappingURL=main.css.map */
