@media (max-width: 575px) {
    .header__navigate {
        display: none;
    }
    .burger__menu {
        display: flex;
        cursor: pointer;
    }
    .hero__title {
        font-size: 1rem;
    }
    .hero__content span {
        font-size: 18px;
    }
    .hero__description {
        font-size: 10px;
    }
}

@media (max-width: 767px) {
    .hero__title {
        font-size: 1.5rem;
    }
    .section__content h2 {
        font-size: 1rem;
    }
}

@media (max-width: 1199px) {
    .hero__title {
        font-size: 2rem;
    }
    .section__content h2 {
        font-size: 1.5rem;
    }
}

