@media (max-width: 575px) {
    .hero__title {
        font-size: 1.25rem;
    }
}

@media (max-width: 767px) {
    .hero__title {
        font-size: 1.5rem;
    }
    .section__content h2 {
        font-size: 1rem;
    }
    .hero__description {
        font-size: 1rem;
    }
}

@media (max-width: 1199px) {
    .hero__title {
        font-size: 2rem;
    }
    .section__content h2 {
        font-size: 1.5rem;
    }
    .hero__description {
        font-size: 1.5rem;
    }
}

